:root {
    --accent-color: #DD3E78;
    --first-background-color: rgb(255, 255, 255);
    --second-background-color: rgb(245, 250, 253);
    --aside-background-color: #222222;
    --font-color: #8E9DAE;
    --border-color: rgba(0, 0, 0, .11);
    --shadow-color: rgba(0, 0, 0, .11);
}

html,
body {
    height: 100vh;
    width: 100vw;
}


body {
    background-color: var(--second-background-color)
}

img {
    height: 100%;
}

.site-header {
    display: flex;
    align-items: center;
    align-content: center;
    background: var(--first-background-color);
    width: 100%;
    height: 12vh;
    padding: 1.5vh 6vw;
}

.site-header figure {
    height: 100%;
    margin: 0px;
}

.site-menu-item {
    display: inline-block;
    margin: 1vw 1vw;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.site-menu-item::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 5px;
    border-bottom: 2px solid var(--accent-color);
    transform: scaleX(0);
    transition: transform .3s;
}

.site-menu-item:hover::after {
    transform: scaleX(1)
}

.site-menu-item a {
    color: inherit
}

.site-menu-item a:hover {
    color: var(--accent-color)
}


.site-menu-item .submenu {
    position: absolute;
    top: 0%;
    left: 0%;
    padding-left: 0%;
    margin-top: 2.5em;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    background-color: var(--first-background-color);
    box-shadow: 1px 1px 4px 2px var(--shadow-color);
}

.site-menu-item:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.site-menu-item:hover .submenu .site-menu-item {
    margin: 0;
    padding: 0.5vw 1vw;
}

.site-menu-item:hover .submenu .site-menu-item:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.site-menu-item:hover .submenu .site-menu-item::after {
    content: "";
    border: none;
}

.site-info-media {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4vh;
    padding: 0.5vh 6vw;
    background: var(--aside-background-color);
}

.site-info-media i {
    color: #FFF;
    font-size: 2vh;
}

.site-info-media i:hover {
    color: var(--accent-color)
}

.site-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
    background-color: var(--aside-background-color);
}

.site-footer .footer-slot {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 18%;
    border-left: 1px solid rgba(128, 128, 128, .2);
    border-right: none;
}

.site-footer .footer-slot,
.site-footer .footer-slot a {
    color: #FFFFFF;
    font-size: 14pt;
}

.site-footer .footer-slot:last-child {
    border-left: 1px solid rgba(128, 128, 128, .2);
    border-right: 1px solid rgba(128, 128, 128, .2);
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 35vh;
    background: linear-gradient(135deg, rgba(234, 203, 102, 0.8) 0%, rgba(238, 18, 164, 0.8) 100%);
}

.page-header header {
    color: #FFFFFF;
    font-size: 36pt
}

.site-content {
    font-size: 16px;
    color: var(--font-color);
}