{% load wagtailcore_tags wagtailimages_tags %}
<div class="card">
    <div class="card-image">
        {% image value.image width-400 class="img-responsive" %}
    </div>
    <div class="card-header">
        <div class="card-title h5">{% include_block value.name %}</div>
        <div class="card-subtitle text-gray">
            {% include_block value.ocupation %}
        </div>
        <div class="card-body">
            {% include_block value.description %}
        </div>
    </div>
    {% if value.extra %}
    <div class="card-footer">
        {{ value.extra|richtext }}
    </div>
    {% endif %}
</div>



<style>
    .person-block {
        display: flex;
        height: 10vw;
        width: 100%;
        background: #ECEEEE;
        border-radius: 1em;
        margin: 1em;
    }

    .person-block figure {

        display: inline-block;
        width: auto;
        margin: 0%;
    }

    .person-block figure img {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
    }

    .person-block .person-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: auto;
        padding: 1em;
    }

    .person-image {
        height: 100%;
    }
</style>