{% load static %}
<div class="row">
    <div class="column">
        <aside class="site-info-media"></aside>
        <header class="site-header">
            <figure class="site-logo">
                <img src="{% static 'images/logo.png' %}" alt="">
            </figure>
            <ul class="site-menu">
                <li class="site-menu-item">
                    <a href="#">Projeto</a>
                </li>
                <li class="site-menu-item"><a href="#">Eventos</a></li>
                <li class="site-menu-item"><a href="#">Galeria</a></li>
            </ul>
        </header>
    </div>
</div>