{% load static %}
{% load menu_tags %}
<div class="row">
    <div class="sixteen wide column">
        <aside class="site-info-media">
            <i class="facebook icon"></i>
            <i class="github icon"></i>
        </aside>
        <header class="site-header">
            <figure class="site-logo">
                <a href="/">
                    <img src="{% static 'images/logo.jpg' %}" alt="">
                </a>
            </figure>
            <nav>
                {% main_menu use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/custom_main_menu.html" sub_menu_template="menus/custom_sub_menu.html" %}
            </nav>
        </header>
    </div>
</div>