{% load static %}
<div class="row">
    <div class="sixteen wide column">
        <aside class="site-info-media">
            <i class="facebook icon"></i>
            <i class="github icon"></i>
        </aside>
        <header class="site-header">
            <figure class="site-logo">
                <img src="{% static 'images/logo.jpg' %}" alt="">
            </figure>
            <ul class="site-menu">
                <li class="site-menu-item">
                    <a href="#">Projeto</a>
                </li>
                <li class="site-menu-item"><a href="#">Eventos</a></li>
                <li class="site-menu-item"><a href="#">Galeria</a></li>
                <li class="site-menu-item"><a href="#">Contato</a></li>
            </ul>
        </header>
    </div>
</div>